/* Colors */
:root {
    --bg-primary-color: #151515;
    --bg-secondary-color: #151515;
    --txt-primary: #F5F5F5;
    --txt-secondary: #D6D6D6;
    --primary: #ed1c24;

   
    --primary-color: #FFC107;
    --dark-color: #151515;
    --primary-txt-color: #F5F5F5;
    --secondary-txt-color: #151515;
    --primary-bg-color: #F5F5F5;
    --secondary-bg-color: #151515;
}

/* General */
* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

body {
    background-color: var(--primary-bg-color);
}

/* Utilities */
.primary-bg-color {
    background-color: var(--primary-bg-color);
}

.secondary-bg-color {
    background-color: var(--secondary-bg-color);
}

/* Header */
.navbar-brand {
    font-weight: 900;
    color: var(--secondary-txt-color);
}

.navbar-brand span {
    font-weight: 900;
}

#navbar button {
    color: var(--secondary-txt-color);
    border: none;
}

#navbar button:focus {
    box-shadow: none;
    border: none;
}

#navbar i {
    font-size: 1.4em;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: end;
    width: 100%;
}

.nav-link {
    color: var(--secondary-txt-color);
    font-weight: 700;
    transition: .5s;
}

.nav-link:hover {
    color: var(--primary-color);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

/* Main */
#main-banner {
    background-image: url(../img/main-banner.jpg);
    background-position: center;
    background-size: cover;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-title,
#main-subtitle {
    font-weight: 700;
    color: var(--primary-txt-color);
}

#main-title span {
    font-weight: 700;
}

#main-subtitle {
    font-size: 1.5em;
    text-align: center;
}

/* Plans Section */
#plans-section {
    margin-top: 2em;
    margin-bottom: 2em;
}

.plans-title {
    text-align: left;
    border-left: 4px solid var(--primary-color);
}

.title,
.subtitle {
    color: var(--secondary-txt-color);
    margin-left: 8px;
}

.title {
    font-weight: 700;
    margin-bottom: 16px;  
}

.subtitle {
    font-size: 1.2em;
}

#plans-container {
    margin-top: 2em;
}

#plans-container .card {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0;
    border: 2px solid var(--dark-color);
}

#plans-container .card-title {
    font-weight: 700;
    margin-bottom: 1.5em;
}

#plans-container .card-text {
    color: var(--primary-txt-color);
    font-size: 1.1em;
}

#plans-container .btn {
    margin-top: 1.5em;
    padding: 0.6em 1.2em;
    border-radius: 0;
    font-weight: 700;
    color: var(--dark-color);
}

/* Experience Section */
#experience-section {
    margin-bottom: 2em;
}

.experience-title {
    text-align: left;
    border-left: 4px solid var(--primary-color);
}

#experience-container {
    margin-top: 2em;
}

#experience-container .card {
    margin-bottom: 1em;
    border-radius: 0;
    border: 2px solid var(--dark-color);
}

#experience-container img {
    border-radius: 0;
}

#experience-container .card-text {
    color: var(--primary-txt-color);
    font-size: 1.1em;
}

/* Gallery Section */
#gallery-container {
    margin-bottom: 4em;
}

#gallery-images {
    margin-top: 2em;
}

#gallery-images .col-md-4 {
    position: relative;
    cursor: pointer;
}

#gallery-images .col-md-4:hover > .banner-content {
    opacity: 0.2;
}

#gallery-images .banner-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.2;
    transition: 0.5s;
}

.banner-content p,
.banner-content h3 {
    color: #151515;
    font-weight: 700;
}

.banner-content p {
    font-size: 1em;
}

.banner-content h3 {
    font-size: 1.2em;
}

/* Info Section */
#info-banner {
    align-items: center;
    display: flex;
    margin-bottom: 1em;
}

#info-content {
    margin-bottom: 2em;
    padding: 1em;
}

#info-content button {
    margin-bottom: 0;
}

#info-numbers {
    margin: 1em 0;
}

#info-numbers h3 {
    font-size: 2em;
}

/* Footer */
#footer {
    padding: 3em 2em;
}

#footer-top {
    margin-bottom: 2em;
}

#footer-top,
#footer-top i {
    color: var(--txt-primary);
}

#footer-top h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.6em;
}

#social-icons {
    text-align: right;
}

#social-icons i {
    margin-right: 1em;
    font-size: 1em;
    cursor: pointer;
}

#social-icons i:hover {
    color: var(--primary);
}

#footer-details {
    margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container {
    padding: 0;
    border: 0;
    margin-bottom: 1em;
}

#footer-details h4 {
    color: var(--txt-primary);
    margin-bottom: 1.5em;
}

#news-container p {
    color: var(--txt-primary);
}

#news-container input {
    background-color: transparent;
    border: 1px solid var(--bg-secondary-color);
    border-radius: 0;
    color: var(--txt-primary);
    font-weight: 300;
}

#news-container input::placeholder {
    color: var(--txt-primary);
    font-weight: 300;
}

#news-container input:focus {
    box-shadow: none;
}

.btn-dark {
    border: 1px solid var(--bg-secondary-color);
    border-radius: 0;
    background-color: var(--bg-secondary-color);
    color: var(--txt-primary);
    margin-bottom: 20px;
}

#contact-container p {
    color: var(--txt-primary);
}

#links-container li {
    margin-bottom: 0.5em;
}

#links-container a {
    color: var(--txt-primary);
    transition: .5s;
    text-decoration: none;
}

#links-container a:hover {
    color: var(--primary);
}

#footer-bottom {
    color: var(--txt-primary);
    border-top: 1px solid var(--bg-secondary-color);
    padding-top: 2em;
}

#footer-bottom p {
    font-weight: 300;
}

/* Responsive */
@media (min-width: 768px) {
    /* Experience Section */
    #experience-section {
        margin-top: -1em;
    }

    #experience-container .card {
        min-height: 250px;
    }

    #experience-container .card-body {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    #gallery-images .banner-content {
        opacity: 0;
    }

    #info-banner {
        margin-bottom: 0;
    }

    #info-content {
        padding: 2.5em;
    }

    #news-container {
        padding-right: 2em;
    }

    #contact-container {
        padding: 0 2em;
        border-left: 1px solid var(--bg-secondary-color);
        border-right: 1px solid var(--bg-secondary-color);
    }

    #links-container {
        padding-left: 2em;
    }
}

@media (min-width: 1024px) {
    /* Header */
    .navbar-brand {
        font-size: 1.8em;
    }

    #navbar-items .nav-item {
        margin: 0 1em;
    }

    /* Plans Section */
    #plans-container .card:hover {
        border-color: var(--primary-color);
    }

    /* Experience Section */
    #experience-container .card:hover {
        border-color: var(--primary-color);
    }
}
